name: Commit CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  push:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [15.x]
        os: [macos-latest, ubuntu-latest]

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v2
    - name: Install Node.js, NPM and Yarn
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: yarn
    - name: check quality code
      run: yarn lint
    - name: test
      run: yarn test
